.nav {
  background-color: white;
  color: black;
  gap: 2rem;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  border-bottom: 4px solid black;
  border-radius: 3px;
}

.nav ul {
  margin-bottom: 20px;

  list-style: none;
  display: flex;
  font-size: 22px;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.nav ul .sobrenosNav {
  font-size: 16px;
  padding: 8px 30px;
}

.nav ul a {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(0, 0, 0);
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.nav a:hover {
  cursor: pointer;
}

.nav a.galeriaNav:hover {
  background-color: rgb(255, 5, 255);
}

.nav a.sobrenosNav:hover {
  background-color: rgb(101, 233, 84);
}
.nav a.faqNav:hover {
  background-color: rgb(96, 205, 255);
}
.nav a.cartNav:hover {
  background-color: rgb(230, 255, 5);
}

.cartNumber {
  color: red;
  font-size: 20px;
}

@media (max-width: 992px) {
  .nav ul {
    display: none;
  }
}
